@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    padding: 5px;
}

.travel-content {
    margin: auto;
    width: 471px;
    height: 168px;
}

.travel-card {
    display: flex;
    gap: 2rem;
    margin-top: 6rem;
}

.travel-card .place-img {
    width: 200px;
    height: 280px;
    border-radius: 5px;
    margin-left: 10px;
}

.info {
    margin-top: 1rem;
}

.info h2 {
    margin-top: -0.5rem;
}

.info a {
    color: #918E9B;
    font-size: 11px;
    line-height: 12px;
    text-decoration: underline;
}

.info .country {
    font-weight: bold;
    font-size: 25px;
}

.location-title {
    display: flex;
    align-items: center;
}

.location-title img {
    width: 7px;
    height: 10px;
}

.location-title p {
    margin-left: 1rem;
}

.info-content {
    font-size: 11px;
    line-height: 15px;
    width: 280px;
}